@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');

.toolbar-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Patua One', cursive;
}

.list-button {
    border-radius: 50px;
    --background: #008EE0;
    width: 400px;
}

.list-button-img {
    width: 13%;
    height: auto;
}

.list-button-text {
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    margin-left: 10px;
}