<ion-header>

  <ion-toolbar>
    <ion-title>Ebapp</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="page-content" padding>
  <ion-searchbar
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="filterList($event)"
      (ionCancel)="onCancel($event)"
      placeholder="Buscar Texto">
    </ion-searchbar>

  <ion-list class="search-list">
    <ion-button class="list-item" ion-item *ngFor="let theme of themes" (click)="themeTapped($event, theme)">
      {{theme.name}}
    </ion-button>
  </ion-list>

</ion-content>