<ion-header>
    <ion-toolbar>
        <ion-title>Introdução</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    
    <ion-slides pager="true">
        <ion-slide class="step-one">
            <ion-img src="/assets/img/estetica.png"></ion-img>
            <h2>Bem-vindo!</h2>
            <p>Evident é um aplicativo voltado para a educação continuada de cirurgiões dentistas, especificadamente odontopediatras.</p>
        </ion-slide>
        
        <ion-slide class="step-two">
            <ion-img src="/assets/img/sismatologia.png"></ion-img>
            <h1>E você?</h1>
            <p>Gostaríamos de conhecer um pouco sobre você antes de acessar o aplicativo. Diga qual é a sua idade e qual é o seu sexo.</p>
        </ion-slide>
        
        <ion-slide class="step-three">
            <ion-img src="/assets/img/sismatologia.png"></ion-img>
            <ion-item>
                <ion-label>Sexo</ion-label>
                <ion-select placeholder="Selecionar" [(ngModel)]="gender">
                    <ion-select-option value="female">Mulher</ion-select-option>
                    <ion-select-option value="male">Homem</ion-select-option>
                </ion-select>
            </ion-item>
            
            <ion-item>
                    <button ion-button icon-right (click)="login()">
                        Login with
                        <ion-icon name="logo-facebook"></ion-icon>
                    </button>
                <!-- <ion-label>Idade</ion-label> -->
                <!-- <ion-input placeholder="18" [(ngModel)]="age" type="number"></ion-input> -->
            </ion-item>
            
            <ion-button (click)="finish()">Ir para o aplicativo</ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>