ion-slide {
    height: 88vh;
    flex-direction: column;
}

ion-img {
    width: 150px;
    height: auto;
    overflow: hidden;
    margin-bottom: 5vh;
}

ion-slide {
    background: #fff;
    color: #000;
}

ion-item {
    padding: 5px 20vw;
    width: 100% !important;
}