@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');


.toolbar-title {
    text-align: left;
    margin-left: 1.5vw;
    font-size: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
}
