<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title class="toolbar-title">Metodologias</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
      <ion-item color="light" detail="true" lines="full" *ngFor="let methodology of methodologies"  (click)="goToMethodologyText($event, methodology.name, methodology.text, methodology.thermometer)">
        <ion-label>

       {{methodology.name}}
      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>