<ion-header>
  <ion-toolbar [ngStyle]="{'--ion-toolbar-background-color': color}">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbar-title">{{name}}</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="filterList($event)"
      (ionCancel)="onCancel($event)" placeholder="Procurar por texto">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="myInput;else newTextList">
  <ion-content padding>
    <ion-card *ngFor="let text of texts" (click)="goToDetail($event, text)">
      <ion-item>
          <span class="card-text">{{text.title}}</span>
          <ion-icon class="card-thermometer" name="thermometer"></ion-icon>
        </ion-item>
    </ion-card>
    </ion-content>
</ng-container>

<ng-template #newTextList>
  <ion-content padding>
    <ion-card *ngFor="let text of texts" (click)="goToDetail($event, text)">
      <ion-img class="card-image" [src]="text.image"></ion-img>
      <ion-item>
          <span class="card-text">{{text.title}}</span>
          <ion-icon class="card-thermometer" name="thermometer"></ion-icon>
        </ion-item>
    </ion-card>
  </ion-content>
</ng-template>