@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');

.toolbar-title {
    text-align: left;
    margin-left: 10vw;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 30px;
}

.card {
    position: relative;
}

.card-text {
    margin-left: 10vw;
    font-size: 25px;
    font-family: 'IBM Plex Sans', sans-serif;
}

ion-item {
    background-color: #e8e8e8;
}

.card-image {
    height: 20vh;
    width: 100vw;
}