<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title class="toolbar-title">{{name}}</ion-title>
    </ion-buttons>
   
  </ion-toolbar>

  <ion-toolbar [ngStyle]="{'--ion-toolbar-background-color': color}">
    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="filterList($event)"
      (ionCancel)="onCancel($event)" placeholder="Procurar por texto">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="myInput;else newTextList">
  <ion-content padding>
    <ion-card *ngFor="let text of texts" (click)="goToDetail($event, text)">
      <ion-item>
        <span class="card-text">{{text.title}}</span>
      </ion-item>
    </ion-card>
  </ion-content>
</ng-container>

<ng-template #newTextList>
  <ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor="let text of texts" (click)="goToDetail($event, text)">
      <ion-img class="card-image" [src]="text.url_image"></ion-img>
      <ion-item>
        <ion-grid class="container">
          <ion-row>
            <ion-col>
              <span class="card-text">{{text.title}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>
  </ion-content>
</ng-template>