<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar-title">{{theme}}</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="filterList($event)"
      (ionCancel)="onCancel($event)" placeholder="Procurar por texto">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="myInput;else newTextList">
  <ion-content padding>

    <ion-card *ngFor="let text of texts" (click)="goToDetail($event, text)">
      <ion-item>
        <h2>{{ text.title }}</h2>
      </ion-item>
      <ion-img [src]="text.image"></ion-img>
    </ion-card>
  </ion-content>
</ng-container>

<ng-template #newTextList>
  <ion-content padding>
    <ion-card *ngFor="let text of texts" (click)="goToDetail($event, text)">
      <ion-item>
        <h2>{{ text.title }}</h2>
      </ion-item>
      <ion-img [src]="text.image"></ion-img>
    </ion-card>
  </ion-content>
</ng-template>