<ion-header>
  <ion-toolbar>
      <ion-buttons>
          <ion-back-button></ion-back-button>
          <ion-title class="toolbar-title">Texto</ion-title>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="detail">
  <ion-grid>
    <ion-img [src]="detail.url_image"></ion-img>
    <h2>{{ detail.title }}</h2>
    <img [src]="thermometer" height="60px" (click)="describeThermometer()">
    <img [src]="podium" height="60px" (click)="describePodium()">
    <br>
    <quill-view-html [content]="detail.abstract_intro" theme="snow"></quill-view-html>
    <ion-slides pager="true">
      <ion-slide *ngFor = "let slide of detail.slideshow">
        <div>
          <ion-img [src]="slide.url_image"></ion-img>
          <div class="desc_slide">{{slide.description}}</div>
          <br>
        </div>
       </ion-slide>     
    </ion-slides>
        <quill-view-html [content]="detail.abstract" theme="snow"></quill-view-html>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="detail">
  <ion-row>
      <ion-col>
          <ion-button class="list-button-footer" expand="full" size="round" href="{{detail.paper_link}}" (click)="addEvent($event, detail.title);">
              <span class="list-button-footer-text">Acesse aqui o artigo original</span>
          </ion-button>
      </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
          <ion-button class="list-button-footer"  expand="full" shape="round"  (click)="goToMethodology($event, detail.methodologies)"> 
            <span class="list-button-footer-text">Por que devo confiar nessa evidência?</span>
          </ion-button>
        </ion-col>
  </ion-row>
</ion-footer>
