<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar-title">Texto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-img [src]="detail.image"></ion-img>
    <h2>{{ detail.title }}</h2>
    <p>{{ detail.abstract }}</p>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
      <ion-col>
          <ion-button class="list-button-footer" expand="full" size="large" href="{{detail.paper_link}}">
              <span class="list-button-footer-text">Artigo</span>
          </ion-button>
      </ion-col>
      <ion-col>
          <ion-button class="list-button-footer"expand="full" size="large" color="primary" (click)="goToMethodology($event, detail.methodology)"> 
            <span class="list-button-footer-text">Metodologias</span>
          </ion-button>
        </ion-col>
  </ion-row>
</ion-footer>


<style>
  ion-toolbar {
    --ion-toolbar-background-color:#891009;
  }
</style>