@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');

.toolbar-title {
    text-align: left;
    font-size: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.list-button-footer {
    --background: #e5e5e5;
    --box-shadow: 5px;
    font-size: 20px;
    text-transform: none;
    flex-direction: column; 
    font-family: 'IBM Plex Sans', sans-serif;
}

.list-button-footer-text {
    color: black;
    font-size: 80%;
}

ion-footer {
    background-color: #f9f9f9;
}

div.desc_slide {
    margin: 10px;
}
