@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');

.toolbar-title {
    text-align: left;
    font-size: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
}

ion-searchbar {
    --background: white;
}

ion-grid {
    margin: 0px;
    --ion-grid-padding: 0px;
}



.list-header {
    text-align: center;
}

.list-button {
    --background: #ECECEC;
    --border-width: 3px;
    --border-style: solid;
    --border-radius: 20px;
    --box-shadow: 0px;
    --padding-top: 32px;
    --padding-bottom: 32px;
    text-transform: none;
}

.list-button-img {
    width: 30px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-button-text {
    font-size: 17px;
    color: black;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

.list-button-footer {
    --background: #d6d6d6 ;
    flex-direction: column; 
    font-family: 'IBM Plex Sans', sans-serif;
}

.list-button-footer-text {
    color: black;
    font-size: 80%;
}

.footer {
    background-color: #ededed;
}

.footer-text {
    text-align: center;
}

.row-footer {
   margin: 0px !important;
   padding: 0px !important;
}

