<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar-title">Dentist</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="filterList($event)"
      (ionCancel)="onCancel($event)" placeholder="Procurar por texto">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="myInput;else themesList">
  <ion-content padding>
    <ion-card *ngFor="let text of texts" (click)="goToDetail($event, text)">
      <ion-img class="card-image" [src]="text.url_image"></ion-img>
      <ion-item>
          <span class="card-text">{{ text.title }}</span>
          <ion-icon class="card-thermometer" name="thermometer"></ion-icon>
        </ion-item>
    </ion-card>
  </ion-content>  
</ng-container>

<ng-template #themesList>
  <ion-content class="page-content" padding>
    <ion-list class="list">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button class="list-button" expand="full" size="large" style="border-color: #008EE0;" ion-item *ngFor="let theme of themes" (click)="themeTapped($event, theme)">
              <ion-img class="list-button-img" src="assets/img/diagnostico.png"></ion-img>
              <span class="list-button-text">{{theme.name}}</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-content>

  <ion-footer>
      <ion-row>
          <ion-col>
              <ion-button class="list-button-footer" expand="full" size="large">
                  <span class="list-button-footer-text">Facebook</span>
              </ion-button>
          </ion-col>
          <ion-col>
              <ion-button class="list-button-footer"expand="full" size="large" color="primary"> 
                <span class="list-button-footer-text">Calendário</span>
              </ion-button>
              
            </ion-col>
  
          <ion-col>
              <ion-button class="list-button-footer" expand="full" size="large" color="primary">
                  <span class="list-button-footer-text">Catálogo</span>
                </ion-button>
              </ion-col>
      </ion-row>
  </ion-footer>
</ng-template>