@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');


.toolbar-title {
    color: black;
    text-align: left;
    font-weight: bold;
    margin-left: 10vw;
    font-size: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.list-button {
    --background: #e2e2e2;
    border-left: 10px solid;
}

.list-button-img {
    position: absolute;
    left: 8vw;
    width: 10vw;
    height: auto;
}

.list-button-text {
    color: black;
    position: absolute;
    left: 21vw;
    font-family: 'IBM Plex Sans', sans-serif;
}

.list-button-footer {
    --background: #d6d6d6 ;
    flex-direction: column; 
    font-family: 'IBM Plex Sans', sans-serif;
}

.list-button-footer-text {
    color: black;
    font-size: 80%;
}

.footer {
    background-color: #ededed;
}

.footer-text {
    text-align: center;
}

.row-footer {
   margin: 0px !important;
   padding: 0px !important;

}

