<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar-title">Evident</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="filterList($event)"
      (ionCancel)="onCancel($event)" placeholder="Procurar por textos">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="!(myInput);else themesList">
  <ion-content class="page-content" padding *ngIf="themes">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>
    <ion-list class="list">
      <ion-grid>
        <ion-row>
          <ion-col size="6" ion-item *ngFor="let theme of themes">
            <ion-button class="list-button" style="--border-color: #e5e5e5" expand="full" shape="round" (click)="themeTapped($event, theme)">
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <span class="list-button-text">{{theme.name}}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
</ion-content>
</ng-container>
<ng-template #themesList>
  <ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor="let text of texts" (click)="goToDetail($event, text)">
      <ion-img class="card-image" [src]="text.url_image"></ion-img>
      <ion-item>
        <span class="card-text">{{ text.title }}</span>
      </ion-item>
    </ion-card>
  </ion-content>
</ng-template>

